torch>=2.5.1
torchvision>=0.20.1

numpy>=2.0.1
opencv-python>=5.0.0.93      
pillow>=11.1.0
PyYAML>=6.0.3
requests>=2.34.2
scipy>=1.18.1
matplotlib>=3.11.1         
pandas>=3.0.5
seaborn>=0.13.2
psutil>=7.2.2
py-cpuinfo>=9.0.0
ultralytics-thop>=2.1.6     
tqdm>=4.70.0

onnx>=1.22.0
onnxruntime>=1.29.0
onnxslim>=0.1.96