torch==2.13.0+cu126
torchvision==0.28.0+cu126

numpy==2.5.2
opencv-python==5.0.0.93
pillow==12.3.0
matplotlib==3.11.1
pandas==3.0.5
PyYAML==6.0.3
requests==2.34.2
scipy==1.18.1
tqdm==4.70.0
psutil==7.2.2
seaborn==0.13.2
polars==1.44.1
pi_heif==1.4.0
prettytable==3.18.0
ultralytics-thop==2.1.6

onnx==1.22.0
onnxruntime==1.29.0
onnxslim==0.1.96
protobuf==7.36.1